<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.controller.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.controller.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.controller.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionPatient</servlet-name>
        <servlet-class>com.controller.InscriptionPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionMedecin</servlet-name>
        <servlet-class>com.controller.InscriptionMedecin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherPatients</servlet-name>
        <servlet-class>com.controller.AfficherPatients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherMedecins</servlet-name>
        <servlet-class>com.controller.AfficherMedecins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPatient</servlet-name>
        <servlet-class>com.controller.AdminPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMedecin</servlet-name>
        <servlet-class>com.controller.AdminMedecin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherCliniques</servlet-name>
        <servlet-class>com.controller.AfficherCliniques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>telechargementFichiers</servlet-name>
        <servlet-class>com.mediclic.documents.telechargementFichiers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClinique</servlet-name>
        <servlet-class>com.controller.AdminClinique</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionPatient</servlet-name>
        <url-pattern>/inscriptionPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionMedecin</servlet-name>
        <url-pattern>/inscriptionMedecin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherPatients</servlet-name>
        <url-pattern>/afficherPatients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherMedecins</servlet-name>
        <url-pattern>/afficherMedecins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPatient</servlet-name>
        <url-pattern>/adminPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMedecin</servlet-name>
        <url-pattern>/adminMedecin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherCliniques</servlet-name>
        <url-pattern>/afficherCliniques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>telechargementFichiers</servlet-name>
        <url-pattern>/telechargementFichiers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClinique</servlet-name>
        <url-pattern>/adminClinique</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.mediclic.com.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler/*</url-pattern>
    </servlet-mapping>
</web-app>
